* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    width: 30vw;
    height: 30vw;
}

.square {
    background-color: white;
    border: 1px solid black;
}

#game {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
}

.full {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;

}

.controlButton {
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:28px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
    z-index: 999;
}
.controlButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.controlButton:active {
	position:relative;
	top:1px;
}

#winnerModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 2rem;
    pointer-events: none;
}

.show {
    display: flex !important;
    justify-content: center;
}

.hide {
    display: none !important;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
}

#menuControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



